@import "../fonts/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    font-family: "South Park", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji" !important;
    font-size: 1.041666666666667vw;
    line-height: 1.25 !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    background-image: url("/imgs/bgs/app.jpg");
    background-size: cover;
  }

  #__nuxt {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    :root {
      font-size: 16px;
    }
  }
}
